/* section one */
main section.one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 16px;
  margin-top: 22px;
}
main section.one > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  direction: ltr;
  background-color: white;
  padding: 34px 10px 24px;
  border-radius: 22px;
  flex: 1;
  max-width: 400px;
  min-width: 220px;
}
@media (max-width: 768px) {
  main section.one > div {
    max-width: 300px;
  }
}
main section.one > div img {
  max-width: 90px;
}
main section.one > div p {
  font-size: 14px;
  color: #464255;
}
main section.one > div h3 {
  font-size: 32px;
  color: #464255;
  margin-top: 5px;
  margin-bottom: 30px;
}
main section.one > div span {
  font-size: 18px;
  color: #00a389;
  font-weight: bold;
}
main .one > div:last-child i {
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow: 0px 4px 24px 0px rgb(0 0 0 / 13%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
}

main section.one > div:last-child {
  background-color: #dc8851;
  flex: 1.5;
  color: white;
}
main section.one > div:last-child img {
  max-width: 130px;
}

main section.one > div:last-child p {
  display: flex;
  align-items: center;
  gap: 16px;
  color: white;
}
main section.one > div:last-child h3 {
  text-align: initial;
  margin: 0px 0px 18px 10px;
  color: white;
}
main section.one > div:last-child span {
  text-align: initial;
  margin: 0px 0px 18px 10px;
  display: block;
  color: white;
}
/* map section */
main .map {
  background-color: white;
  margin: 24px 0px;
  border-radius: 14px;
  box-shadow: 0px 4px 14px 0px rgb(225 225 225 / 25%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 35px;
}
main .map div:first-child {
  position: relative;
}
main .map > div:first-child p {
  font-size: 22px;
  font-weight: bold;
  color: #464255;
  /* position: absolute;
  top: 17px;
  right: 16px; */
}
main .map > div:first-child img {
  max-width: 100%;
}

main .area {
  /* width: 100%; */
  /* margin-left: 35px; */
  flex-basis: 50%;
  min-width: 324px;
}
main .map .area > div {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 480px) {
  main .map .area > div {
    gap: 10px;
  }
}
main .map .area > div p {
  font-size: 18px;
  line-height: 16px;
  font-weight: bold;
  letter-spacing: 0.4px;
  width: 55px;
}
main .map .area div:first-child span {
  height: 45px;
  width: 72%;
  background-color: #fccd70;
  position: relative;
}
main .map .area div:first-child span::after {
  content: "80 شكوي";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  left: 35px;
}
main .map .area div:first-child span::before {
  content: "30%";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  font-size: 17px;
  font-weight: bold;
}
@media (max-width: 480px) {
  main .map .area div span::before {
    left: -32px !important;
    font-size: 13px !important;
  }
  main .map .area div span::after {
    left: 10px !important;
  }
}
main .map .area div:nth-child(2) span {
  height: 45px;
  width: 65%;
  background-color: #febb8c;
  position: relative;
}
main .map .area div:nth-child(2) span::after {
  content: "60 شكوي";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  left: 35px;
}
main .map .area div:nth-child(2) span::before {
  content: "20%";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  font-size: 17px;
  font-weight: bold;
}
main .map .area div:nth-child(3) span {
  height: 45px;
  width: 45%;
  background-color: #dc8851;
  position: relative;
}
main .map .area div:nth-child(3) span::after {
  content: "30 شكوي";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  left: 35px;
}
main .map .area div:nth-child(3) span::before {
  content: "10%";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  font-size: 17px;
  font-weight: bold;
}
main .map .area div:nth-child(4) span {
  height: 45px;
  width: 30%;
  background-color: #fbad50;
  position: relative;
}
main .map .area div:nth-child(4) span::after {
  content: "20 شكوي";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  left: 35px;
}
main .map .area div:nth-child(4) span::before {
  content: "5%";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  font-size: 17px;
  font-weight: bold;
}
main .map .area div:last-of-type span {
  height: 45px;
  width: 20%;
  background-color: #ff7a00;
  position: relative;
}
main .map .area div:last-of-type span::after {
  content: "0 شكوي";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  left: 35px;
}
main .map .area div:last-of-type span::before {
  content: "2%";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -46px;
  font-size: 17px;
  font-weight: bold;
}
main .map .area > p {
  font-size: 22px;
  font-weight: bold;
  line-height: 100%;
  color: #464255;
  letter-spacing: 0.5px;
  margin-top: 27px;
}
/* permession table table */
main .perm-table {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
main .perm-table table {
  direction: ltr;
}

@media (max-width: 1315px) {
  main .perm-table table {
    flex: 1;
  }
}
@media (max-width: 680px) {
  main .perm-table table {
  }
}
main .perm-table table tr {
  font-size: 12px;
  color: #5e5873;
  padding: 9px 13px;
  display: flex;
  background-color: white;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
}
main .perm-table table tr:first-child {
  background-color: #d8d5e3;
  border-radius: 10px 10px 0px 0px;
}
main .perm-table table tr:first-child th {
  width: max-content;
}
main .perm-table table tr:first-child th:first-child {
  margin-right: 60px;
}
main .perm-table table tr:first-child th:nth-of-type(2) {
  margin-right: 120px;
}
main .perm-table table tr:first-child th:nth-of-type(3) {
  margin-right: 195px;
}
main .perm-table table tr:first-child th:nth-of-type(4) {
  margin-right: 105px;
}
main .perm-table table tr:first-child th:nth-of-type(4) i {
  position: relative;
  left: 50px;
  cursor: pointer;
}
main .perm-table table tr:not(:first-child) td:first-child {
  font-size: 18px;
  margin-left: 15px;
  cursor: pointer;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(2) {
  font-weight: Bold;
  font-size: 12px;
  line-height: 18px;
  color: #dc8851;
  background-color: rgba(220, 136, 81, 0.13);
  border-radius: 17px;
  padding: 5px 9px 3px;
  height: fit-content;
  margin-left: 62px;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(3) {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #6e6b7b;
  margin-left: 98px;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(4) div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffb07c;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(4) p {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #6e6b7b;
  text-align: end;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(4) span {
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  color: #b9b9c3;
}
main .perm-table table tr:not(:first-child) td:nth-of-type(4) {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-left: 80px;
}
main .perm-table table tr:not(:first-child) td:last-of-type {
  font-size: 14px;
  line-height: 21px;
  color: #dc8851;
  margin-left: 60px;
}
/* perm table ana */
main .perm-table .ana {
  padding: 19px 30px;
  background-color: white;
  border-radius: 15px;
}
@media (max-width: 1263px) {
  main .perm-table .ana {
    flex: 1;
  }
}

@media (max-width: 480px) {
  main .perm-table .ana {
    padding: 19px 19px;
  }
}
main .perm-table .ana p:first-child {
  font-size: 22px;
  font-weight: 700;
  color: #464255;
  line-height: 33px;
  margin-bottom: 24px;
}
@media (max-width: 1263px) {
  main .perm-table .ana p {
    text-align: center;
  }
}
main .perm-table .ana > div {
  display: flex;
  justify-content: center;
  gap: 35px;
  align-items: center;
}
@media (max-width: 1263px) {
  main .perm-table .ana > div {
    flex-direction: column;
    gap: 0px;
  }
}
main .perm-table .ana ul {
}
@media (max-width: 1263px) {
  main .perm-table .ana ul {
    display: flex;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  main .perm-table .ana ul {
    margin-right: 5px;
  }
}
main .perm-table .ana ul li {
  color: #423e1fc9;
  font-size: 15px;
  line-height: 23px;
  font-weight: 600;
  position: relative;
}
main .perm-table .ana ul li::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: black;
  top: 4px;
  right: -17px;
  border-radius: 5px;
}
main .perm-table .ana ul li:nth-child(2):after {
  background-color: #1ea52c;
}
main .perm-table .ana ul li:nth-child(3):after {
  background-color: #dc8851;
}
main .perm-table .ana ul li:nth-child(4):after {
  background-color: #98375a;
}
main .perm-table .ana ul li:nth-child(5):after {
  background-color: #183ec3;
}
main .perm-table .ana ul li span {
  display: block;
  margin: 7px 0px 16px;
  color: #464255;
}
main .perm-table .ana p:last-child {
  font-size: 22px;
  font-weight: 700;
  color: #464255;
  line-height: 33px;
  margin-top: 10px;
}
main .perm-table .ana p:last-child span {
  color: black;
}
